<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services by Friends</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- Partials will be injected here -->
    <div id="header"></div>
    <main>
      <div id="sidebar-container"></div>
      <section id="content" class="content"></section>
    </main>
    <div id="footer"></div>

    <!-- Scripts will be injected here -->
    <script src="/static/js/app.js"></script>
  </body>
</html>
